body {
	font-family: Lato, sans-serif;
	background-color: #d0d0d5;
	color: #1b1b32;
	margin: 2rem;
	line-height: 1.5rem;
	font-size: 18px;
}

hr {
	margin-top: 25px;
	margin-bottom: 25px;
	border: 0;
	border-top: 1px solid #3b3b4f;
}

.title {
	font-weight: bold;
	font-size: 25px;
	margin: 20px 0 20px;
}

.explanation {
	margin: 0 0 1.2rem;
}

li {
	background-color: #f5f6f7;
	margin-bottom: 10px;
}

li:nth-child(even) {
	background-color: #dfdfe2;
}
